html, body {
  padding: 16px;
}

h1, h2 {
  display: block;
  border-bottom: 1px dotted #ddd;
  margin-bottom: 16px !important;
  padding-bottom: 8px !important;
}

h1 {
  border-top: 1px dotted #ddd;
  margin-top: 16px !important;
  padding-top: 8px !important;
}

.ant-collapse {
  margin-bottom: 16px;
}
