html, body {
  padding: 16px;
}

h1, h2 {
  display: block;
  border-bottom: 1px dotted #ddd;
  margin-bottom: 16px !important;
  padding-bottom: 8px !important;
}

.primary-button {
  text-align: center;
  margin-top: 16px;
}

.button-line {
  text-align: center;
}
.button-line button {
  margin: 0 8px;
}
