.ant-tabs {
  margin-top: 16px;
  border-top: 1px solid #ddd;
  padding-top: 16px;
}

.permission-form-item,
.path-parameter-form-item {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 16px;
}

.primary-button {
  text-align: center;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px dotted #ddd;
}

.delete-button {
  text-align: center;
  margin-bottom: 16px;
}
